<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Departamentos</title>
  </head>
  <body>
    <h5>Listado de departamentos - {{nroDepartamentos}}</h5>

    {% for d in departamentos %}

    <ol>
      <li><b>Nombre del propietario: </b>{{d['nombrePropietario']}}</li>
      <li><b>Costo: </b>{{d['costoDepartamento']}}</li>
      <li><b>Número de cuartos: </b>{{d['numeroCuartos']}}</li>
      <li><b>Edificio: </b>{{d['edificio']}}</li>
    </ol>
    <hr>
    {% endfor%}
  </body>
</html>
